<div class="row">
    <div class="col-md-12">
        <form role="form" {{action search on="submit"}}>
            <div class="form-group">
                {{input value=noteSearch class="form-control" placeholder="Tags"}}
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="note-search-results" class="table table-hover">
            <tbody>
            {{#each note in sortedNotes}}
            <tr>
                <td>
                {{#link-to 'notes.note' note}}
                    {{note.title}}
                {{/link-to}}                    
                </td>
                <td style="text-align: right;">
                {{#link-to 'notes.edit' note class="btn btn-default btn-xs"}}
                    <span class="glyphicon glyphicon-pencil"></span>
                {{/link-to}}
                <button {{action "deleteNote" note}} class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>