<div class="row">
    <div class="col-md-12">
        <form role="form" {{action search on="submit"}}>
            <div class="form-group">
                {{input value=noteSearch class="form-control" placeholder="Tags"}}
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul>
        {{#each note in notes}}
            <li>
                {{#link-to 'notes.note' note}}
                    {{note.title}}
                {{/link-to}}
            </li>
        {{/each}}            
        </ul>
    </div>
</div>